.mainpage{
    margin-top: 100px;
    width: 40%;
    margin-left: 20px;
   
}

.userdetail{
    border: 2px solid black;
    padding: 15px;
}

.notemake{
    border: 2px solid black;  
    padding-bottom: 20px;
}

.vl {
    border-left: 4px solid black;
    height: 500px;
    width: 30px;
    position: absolute;
    top: 70px;
    z-index: -1;
    margin-left: 600px;
  }

  textarea{
    background-color: cornflowerblue;
  }

 