.mainpage{
    margin-top: 80px;
    width: 40%;
    margin-left: 20px;
   /* z-index: -999; */
}

.userdetail{
    border: 2px solid black;
    padding: 15px;
}

.notemake{
    border: 2px solid black;  
    padding-bottom: 20px;
}

.vl {
    border-left: 4px solid black;
    height: 550px;
    width: 30px;
    position: absolute;
    top: 70px;
    z-index: -1;
    margin-left: 600px;
  }

  textarea{
    background-color: cornflowerblue;
  }

  @media only screen and (max-width: 900px) {
    
    .mainpage{
        margin-top: 80px;
        width: 90%;
        margin-left: 15px;
       
    }
    
    .userdetail{
        border: 2px solid black;
        padding: 5px;
    }
    
    .notemake{
        border: 2px solid black;  
        padding-bottom: 20px;
    }
    
    
    .vl {
    display: none;
      }

      textarea{
        width: 90%;
      }
  }