body{
  background-color: rgba(92, 172, 252, 0.575);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* .popupscreen{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.493);
  z-index: 999;
position: absolute;
top: 0%;
} */

/* .popupmsg{
  width: 40%;
  align-items: center;
justify-content: center;

} */
.App-link {
  color: #61dafb;
 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
